#left-nav {
    width:18%;
    float:left;
    height:700px;
    background-color: #db6a6a;
}
#left-nav span {
    padding:5px;
    background-color:aquamarine;
}
#main-list {
    width:80%;
    
    float:right;
    background-color:beige;
}
#btn-quick-chat {
    float:right;
}
#end-list {
    clear:both;
}

.advisor-item img {
    width: 150px;
    height: 180px;
}
